resource "vsphere_virtual_machine" "{{vm_name}}" {                                  
                       
                       name = "{{vm_name}"

                       datastore_id = data.vsphere_datastore.datastore.id



                       resource_pool_id= data.vsphere_resource_pool.pool.id
                       
                       {% if (centos7_cpu_cores is defined and centos7_cpu_cores != " ") %} 
                                
                       num_cpus = {{centos7_cpu_cores}}
                       {% else %}
                          
                       num_cpus = 1
                              
                       {% endif %}

                       {% if (centos7_mem_alloc is defined and centos7_mem_alloc != " ") %} 
                                
                       memory = {{centos7_mem_alloc}}
                       {% else %}
                          
                       memory = 1024
                       {% endif %}
                              
                       #guest_id = "other3xLinux64Guest"
                       #guest_id = "centos7_64Guest"

                       network_interface { 
                                   network_id = data.vsphere_network.network.id                                            
}

                       

                       guest_id = data.vsphere_virtual_machine.centos7_template.guest_id                         
                       scsi_type = data.vsphere_virtual_machine.centos7_template.scsi_type                                            




                       dynamic "disk" { 
                             for_each = data.vsphere_virtual_machine.centos7_template.disks
                             iterator = template_disks

                      content {
                             eagerly_scrub = data.vsphere_virtual_machine.centos7_template.disks[template_disks.key].eagerly_scrub                                            
                             label = data.vsphere_virtual_machine.centos7_template.disks[template_disks.key].label                               
                          
                              

                              {% if (centos7_disk_size is defined and centos7_disk_size != " ") %} 
                              size = {{centos7_disk_size}}
                                
                              {% else %}
                          
                              size = data.vsphere_virtual_machine.centos7_template.disks[template_disks.key].size                                            
                              
                              {% endif %}

                            
                             thin_provisioned = data.vsphere_virtual_machine.centos7_template.disks[template_disks.key].thin_provisioned   
                             unit_number  = data.vsphere_virtual_machine.centos7_template.disks[template_disks.key].unit_number     
                          }
 }


                       clone { 
                                   template_uuid = data.vsphere_virtual_machine.centos7_template.id                                            
  

                             }

      
      
                                                         


}
