-----BEGIN CERTIFICATE-----
MIIDczCCAlugAwIBAgIQEh0NhK71z4VMkBV7s3dkWzANBgkqhkiG9w0BAQsFADBM
MRUwEwYKCZImiZPyLGQBGRYFbG9jYWwxGTAXBgoJkiaJk/IsZAEZFgljb25jaWVy
dG8xGDAWBgNVBAMTD09OUFJFTS1TU0wtQ0EtMjAeFw0yMzA2MDkwNTA4NDhaFw0y
ODA2MDkwNTE4NDVaMEwxFTATBgoJkiaJk/IsZAEZFgVsb2NhbDEZMBcGCgmSJomT
8ixkARkWCWNvbmNpZXJ0bzEYMBYGA1UEAxMPT05QUkVNLVNTTC1DQS0yMIIBIjAN
BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArr95PZ9zhXiN+k6LU1MMaAkVsfGJ
mnEu5ueLRH0FF8vsdw8zzgz8eOR3wUt5Jys5cPiJte3oDsgpJhEGR15f/ZC73+TM
t5pm2uPlfMPfPyRra5EhOwGxTFLyEmK/oX+rQRwco2jUKYvXtTJvkosAjUop5iNK
20W8GmcpIJUxHJuPZpBz1GjlnEE8yGuRWM1R5omAl5Ly6/fHTDo0H8enc2e5UArI
qVCQbQ5MhNcd4zMQMn5O7WwMoTl/nmMSTDz0KAdnvLo9LprAqtQ+OxZofSLqI+4f
zjCCMvFVJSVkG0qEj9bxdWqLnLutpTPbUDyvoZ9lh4KkV8ituvcvgTilvQIDAQAB
o1EwTzALBgNVHQ8EBAMCAYYwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUaEBj
kApXyK0027nIa3RjojzieV4wEAYJKwYBBAGCNxUBBAMCAQAwDQYJKoZIhvcNAQEL
BQADggEBAJyfeFEv3wSjodh+kErW4Ukt1ZYixDzvXKgFFyrB84opT2fDPW55kPmX
E+Q6F/xPVXEAKSY39wmB1L3X223/1PuB8M1c8KOTDRXjrYrepl9/M/lDeR+IBspR
8c+xYpb/hjJFtk38RJ1jhrZSCi7/V5u8XmuQPrcTbbKCWUnjuIRMHvHkwXAz5PE4
X41U/mIJL/5CI+QXFADNG06hxa5dqAAva84reOw82XRZHNwTE3uzxxoqYXwkJA4v
uunWXs8kggUHTat6Wg20qu1R5SU8yiFfYa9ZESWV1InpudE/hAMKHsxb+SaQ05HZ
UJremIAWxtMOm1Jbw9TgBKi2gBL2n5k=
-----END CERTIFICATE-----